@{
    ViewData["Title"] = "Delogare";
}

<h1>Delogare</h1>
<p>Ești sigur că vrei să te deloghezi?</p>

<form asp-action="Delogare" method="post">
    <button type="submit" class="btn btn-danger">Delogare</button>
</form>
