@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://images.pexels.com/photos/261806/pexels-photo-261806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover;
        background-position: center;
        color: black;
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .container {
        padding-top: 50px;
    }

    .btn {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff; /* culoare pentru buton */
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #0056b3; /* culoare pentru buton la hover */
    }

    .quote {
        font-style: italic;
        margin-top: 50px;
        font-size: 17px;
     }
</style>

<div class="container">
    <h1 class="display-4">Bine ați venit!</h1>
    <p>Pentru a începe, alegeți una dintre opțiunile de mai jos:</p>
    <div>
        <a class="btn" href="~/Home/Abonare">Abonare la Bibliotecă</a>
        <a class="btn" href="~/Home/Autentificare">Autentificare Utilizator</a>
    </div>
    <p class="quote">„Cărțile sunt uneltele minții.” - Seneca</p>
</div>
